In [ ]:
import numpy as np
import pandas as pd
import scipy as sp
import matplotlib as plt
import seaborn as sn

In [ ]:
df=pd.read_csv("http://rcs.bu.edu/examples/python/data_analysis/Salaries.csv")

In [ ]:
df.head()

   rank discipline  phd  service   sex  salary
0  Prof          B   56       49  Male  186960
1  Prof          A   12        6  Male   93000
2  Prof          A   23       20  Male  110515
3  Prof          A   40       31  Male  131205
4  Prof          B   20       18  Male  104800

In [ ]:
df[ 'salary'].dtype

dtype('int64')

In [ ]:
df.dtypes

rank          object
discipline    object
phd            int64
service        int64
sex           object
salary         int64
dtype: object

In [ ]:
df['salary'].min()

57800

In [ ]:
df['salary']

0     186960
1      93000
2     110515
3     131205
4     104800
       ...
73    105450
74    104542
75    124312
76    109954
77    109646
Name: salary, Length: 78, dtype: int64

In [ ]:
df_rank=df.groupby(['rank'])

In [ ]:
df_rank.mean()

                 phd    service         salary
rank
AssocProf  15.076923  11.307692   91786.230769
AsstProf    5.052632   2.210526   81362.789474
Prof       27.065217  21.413043  123624.804348

In [ ]:
df

         rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
..        ...        ...  ...      ...     ...     ...
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

[78 rows x 6 columns]

In [ ]:
def load_df():
  return pd.DataFrame({'string_col':['1','2','3','4'],'float_col':[1.1,1.2,1.3,1.4],
                       'int_col':[1,2,3,4], 'mix_col':['a',1,2,3],'missing_col':[1.0,2,4,np.nan], 
                       'money_col':['D1,0000.00','D2,4000.00','D2,400.00','D3,500.00'],
                       'bool_col':[True,False,True,True], 'custom':['Y','Y','N','N']})
df_test=load_df()

In [ ]:
df_test

,string_col,float_col,int_col,mix_col,missing_col,money_col,bool_col,custom
0,1,1.1,1,a,1.0,"D1,0000.00",True,Y
1,2,1.2,2,1,2.0,"D2,4000.00",False,Y
2,3,1.3,3,2,4.0,"D2,400.00",True,N
3,4,1.4,4,3,NaN,"D3,500.00",True,N

In [ ]:
df_test.dtypes

string_col      object
float_col      float64
int_col          int64
mix_col         object
missing_col    float64
money_col       object
bool_col          bool
custom          object
dtype: object

In [ ]:
df_test.int_col.dtypes

dtype('int64')

In [ ]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   string_col   4 non-null      object
 1   float_col    4 non-null      float64
 2   int_col      4 non-null      int64
 3   mix_col      4 non-null      object
 4   missing_col  3 non-null      float64
 5   money_col    4 non-null      object
 6   bool_col     4 non-null      bool
 7   custom       4 non-null      object
dtypes: bool(1), float64(2), int64(1), object(4)
memory usage: 356.0+ bytes

In [ ]:
df_test['string_col']=df_test['string_col'].astype('int')

In [ ]:
df_test.dtypes

string_col       int64
float_col      float64
int_col          int64
mix_col         object
missing_col    float64
money_col       object
bool_col          bool
custom          object
dtype: object

In [ ]:
df_test['float_col']=df_test['float_col'].round(0).astype('int')

In [ ]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   string_col   4 non-null      int64
 1   float_col    4 non-null      int64
 2   int_col      4 non-null      int64
 3   mix_col      4 non-null      object
 4   missing_col  3 non-null      float64
 5   money_col    4 non-null      object
 6   bool_col     4 non-null      bool
 7   custom       4 non-null      object
dtypes: bool(1), float64(1), int64(3), object(3)
memory usage: 356.0+ bytes

In [ ]:
df_test['mix_col']=df_test['mix_col'].astype('int')

ValueError: ignored

In [ ]:
df_test['mix_col']=pd.to_numeric(df_test['mix_col'], errors='coerce')

In [ ]:
df_test.info()

In [ ]:
df_test.missing_col.dtypes

In [ ]:
df_test['missing_col']=df_test['missing_col'].astype('Int64')

In [ ]:
df_test.info()